body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('https://lh3.googleusercontent.com/mAiLVjHf8bmalUi_hpRB7o7o8M9bX_A27NxIqQpv5XIOhqn6vu0Ft12VaNKRgDJRHC15FVWG6PMpFsn-iOcifkNl6gUHN-4jECEg_Yb_txYzsp-Jgx4X95zq-YQ01Fr3l_z1rM4MFvhkUtDbpidR6ZMaPCBJcwlR9FM6j66kQwat-1WlxVUmmZ-sRGtvNENZU8mhO5NfdOwlqvGq2ZM5a39eefsVuzirm729bPt2DiFHzCnhK0VgOEIue3CTsOyvvy0QaI_oY9BSYuM3rZfkSsrBgNmgrpvgSyUmCwocPPDkU44gqmsDHePV4koUXBa8Ph3s1ehPq8zUepckh7bbDRo0DilUibmOncczUr9BT_D7mgibvjV-qFrZSxPNaTVKfj4FeJAYwdWGQJn8sL3eTBAAIOPRfoJ4qcRFYBDLw7D0Pl6mTCotIr9Ikd3Ea8CE78t4j3TZQAoJMu6zzQUjMHufCmmlBBaCWFFgRr0YAjJfTPMT3iQHDgo7d8Dina2eQ2aIoW42oV12ryQsvfmqkYuVdDYszIb8X5tW_HNTucg-uZvhQbdiB1wJ3bjf9ncd6QQVVuWiAj_GbNwHpSQY8D0DTd1H5lmxCaz-970MsI34qonCXi0N2_DQF2vAxl4gT4gyg0sXHWx-VMv4DZZl3lsBquU0ocw=w651-h867-no');
  background-size: cover;
  color: #ffffff;
  height: 1500px; width: 500px
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.col-md-6 {
  margin: 0 0 30px;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}
