body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end; font-size: 20px; color: #FF69B4
}

header p {
  padding: 0 20px;
  margin: 0;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('https://lh3.googleusercontent.com/M-u1gX7TPBpT3-1Ma0qTUVJufehejDn_TBFLH-NLRNjVzVRmQ8WxSdUO_5CWQ-dd5TFREYjoFcm7snS4ZkXEFjO2BX6YYQp8PaAKAn5DypNoSubKjQEmDuN5QFFk3r9twoRinA1Fb3b7NfFIBU6v1qsQBODTb6NYSHvcOafgzrO87yz0eK7mEd7xkT_6lCYluCBLyvw6Kk0IYKjaJzfmHxE3ISLJ2IUeKCxfC-8czxRR1GPfDFjMQ8du1xBfQ-SbVuAuRW4DtE7po9mz3a3Qmzqp6lWrqlB_jToXJi6M_0f8p_XCTi6R-N4_xrbMsNpRkzbUeT0wlxYrhN7iCJEOwqu8ZgR_jqkJ1aQSyx6p8yz9Rw8CdxXIPYUcoR5KjcnHsQi4Rg9kuL6GPPcE1Qgvi-A5Ep5GuMNr6IJmnDh8IVDmjMEUP4vABPoLTXhqcZleU1TtNAw91JvfRiu8eukvasQetT3NkTawQJW__OsmcJ8FfqS6Mf4aAxOpFqZGNqhMFNx9M1s_g_Nle2TuWPx4cGaTNOE5331KOhlW5stxGXinZTFawQWh1f-ngh5qflZh9qzgx5ALZk7rciw2TPvY_B9kAkb6wela3PQqdqSsNrOG18BprTz7Qd3YTeg8UkA0LzlYfjl5ng_ZT-sS7aH7yzpqDqwU7rQ=w989-h867-no');
  background-size: cover;
  color: #ffffff;
  height: 1500px; 
  text-shadow: 0.25px 0.25px 0.25px #000000; 
}

.jumbotron h2 {
  font-size: 100px;
  font-weight: 700;
  margin: 0;
  color: #fff; line-height: 80px
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff; font-size: 50px
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.col-md-6 {
  margin: 0 0 30px;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  text-shadow: none;
  background-color: #ffffff; font-size: 40px
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}
